* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
}
.w100{
    width: 100%;
}
header{
    width: 100%;
    text-align: center;
    background-color: rgb(16, 198, 223);
}
li {
    padding: 10px;
    background-color: burlywood;
    margin: 10px;
    border-radius: 50px;
  }
  li:hover{
    background-color: rgb(190, 112, 10);
}
.contenedorReseñas{
    border: 2px solid red;
    height: 80vh;
    margin: 20px;
    width: 20%;
    background-color: rgb(15, 221, 152);
}
.contenedorEmpresa{
    height: 80vh;
    margin: 20px;
    width: 20%;
}

.reseña{
    border: 1px solid blue;
    margin: 10px;
}
.contenedorEmpresa{
    border: 2px solid pink;
    background-color: rgb(15, 221, 152);
}
.video{
    border: 2px solid yellow;
    background-color: rgb(0, 0, 0);
    height: 80vh;
    margin: 20px;
    width: 30%;
}
.bodyFlex{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer{
    width: 100%;
    background-color: rgb(17, 172, 192);
    color: rgb(0, 0, 0);
    padding: 1rem;
    
}
ul{
      /* Use flex boxes to align li items */
      display: flex;
      justify-content: space-evenly;
      /* Remove default padding from major browsers */
      padding: 0;
      /* Hide the default decorations for li items */
      list-style: none;
}
.datos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.centreText{
    width: 100%;
    justify-content: center;
}
.image{
    display: flex;
    
}
img{
    border: solid palegreen 5px;
    border-radius: 90px;
}